*{
    margin: 0;
    font-family: 'Overpass', sans-serif;
}
body{
    background-color: hsl(216, 12%, 8%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
#container, #thank-you-state{
    background-color: hsl(213, 19%, 18%);
    width: 25%;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    color: white;
}
#thank-you-state{
    display: none;
}
#header{
    padding: 20px;
    font-weight: 700;
}
#request{
    color: hsl(216, 12%, 54%);
    padding: 15px;
}
#rating{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
#svg{
    background-color: hsl(216, 12%, 8%);
    border-radius: 50%;
    padding: 15px;
    opacity: 0.6;
    margin-left: 15px;
}
label{
    display: grid;
    background-color: hsl(216, 12%, 8%);
    opacity: 0.6;
    color: hsl(216, 12%, 54%);
    height: 50px;
    place-content: center;
    width: 50px;
    font-size: 20px;
    border-radius: 100%;
    font-weight: 700;
    cursor: pointer;
}
label:hover{
    background-color: hsl(25, 97%, 53%);
    color: white;
}
input:checked + label{
    background-color: hsl(216, 12%, 54%);
    color: hsl(0, 0%, 100%);
}
input[type=radio]{
    display: none;
}
button{
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    border: none;
    background-color: hsl(25, 97%, 53%);
    cursor: pointer;
}
button:hover{
    background-color: white;
    color: hsl(25, 97%, 53%);
}
#thank-you-message{
    color: hsl(216, 12%, 54%);
    text-align: center;
    padding: 10px;
}
#thank-you-header{
    text-align: center;
    margin-top: 10pt;
    font-weight: 700;
    padding: 10px;
}
#thank-you-illustration{
    display: flex;
    margin: auto;
    justify-content: center;
    margin-bottom: 10px;
    padding: 10px;
}
#selection{
    background-color: hsl(216, 12%, 8%);
    color: hsl(25, 97%, 53%);
    opacity: 0.6;
    padding: 7px;
    border-radius: 10px;
    text-align: center;
    width: fit-content;
    margin: auto;
}
@media screen and (max-width: 800px){
    #container, #thank-you-state{
        width: 80%;
    }
}
